.jussilabs-component-header{
    background-color: black;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.jussilabs-component-header-logo{
    width: 200px;
    height: 50px;
}

.jussilabs-component-header-title {
    color: #ffffff;
}

.jussilabs-component-usersession-block{
    display: flex;
    align-items: center;
}

.jussilabs-component-usersession-icon{
    width: 30px;
    height: 30px;
}

.jussilabs-component-usersession-email{
    color: #ffffff;
    font-size: 10px;
}